.body {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 25px;
}

.fixed {
    overflow: hidden;
}

section {
    padding: 90px 0;
}

a,
button,
i,
input,
.navigation {
    transition: .4s ease-in-out;
}

.container {
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-size: 45px;
    line-height: 60px;
    font-weight: 600;
    text-transform: capitalize;
    color: #061e37;
}

.section-sub-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    color: #b0bec5;
    margin-bottom: 15px;
}

.section-text {
    color: #b0bec5;
    line-height: 25px;
    max-width: 580px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-grid {
    display: grid;
}

.btn,
.btn-send {
    display: inline-block;
    text-align: center;
    padding: 18px 0;
    width: 150px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 6px;
    color: #061e37;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.22);
    -moz-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.22);
    box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.22);
    &:hover {
        background-color: #061e37;
        color: #fff;
    }
}

.btn-send {
    background-color: #1ae7c0;
    color: #fff;
}

.btn:not(:last-child) {
    margin-right: 28px;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 15px;
    font-size: 20px;
    color: #90a4ae;
    width: 176px;
}

input {
    display: inline-block;
    border-radius: 7px;
    border: solid 1px #061e37;
    padding: 15px 18px;
    color: #061e37;
    font-weight: 600;
    font-size: 14px;
    resize: none;
    &::placeholder {
        font-weight: 600;
        color: #061e37;
        font-size: 15px;
    }
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #061e37;
    background-color: #061e37;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #1ae7c0;
}

.custom-checkbox:not(:disabled):active+label::before {
    background-color: #1ae7c0;
    border-color: #1ae7c0;
}


/* стили для чекбокса, находящегося в фокусе */

.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}

.sing-form {
    max-width: 600px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #1ae7c0;
    padding: 20px;
    display: none;
    h2,
    p {
        text-align: center;
        margin-bottom: 15px;
    }
    .sing-form__input {
        width: 100%;
        margin-bottom: 20px;
    }
    .sing-form__btn {
        border: none;
        padding: 15px 0;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: .4s ease-in-out;
    z-index: 15;
    .navigation {
        grid-template-columns: 1fr 2fr;
        padding: 50px 0 10px;
        &__item:not(:last-child) {
            margin-right: 46px;
        }
        &__item,
        &__sing-up {
            color: #fff;
            text-transform: capitalize;
            font-weight: 600;
        }
        &__item:hover {
            color: #061e37;
        }
        &__sing-up {
            display: inline-block;
            text-align: center;
            text-transform: lowercase;
            border: 1px solid #fff;
            padding: 4px 0;
            width: 80px;
            &:hover {
                border-color: #061e37;
                color: #061e37;
            }
        }
    }
}

.header.sticky {
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.header.sticky .navigation {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header.sticky .navigation__item {
    color: #061e37;
}

.header.sticky .navigation__sing-up {
    color: #061e37;
    border-color: #061e37;
}

.header.sticky .navigation__logo {
    filter: brightness(0.9) invert(.9) sepia(.5) hue-rotate(100deg) saturate(200%);
}

.offer {
    padding: 248px 0 180px;
    background: #1ae7c0 url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #72c1b2;
        opacity: .5;
        z-index: 2;
    }
    &__wrapper {
        position: relative;
        grid-template-columns: minmax(420px, 620px) minmax(465px, 600px);
        column-gap: 60px;
        justify-content: space-between;
        color: #fff;
        z-index: 3;
    }
    &__title {
        font-weight: 800;
        font-size: 55px;
        text-transform: uppercase;
        line-height: 60px;
    }
    &__text,
    &__title {
        margin-bottom: 25px;
    }
    &__text {
        line-height: 30px;
        font-size: 18px;
    }
    &__video {
        align-self: center;
        justify-self: flex-end;
        position: relative;
        overflow: hidden;
        border-radius: 7px;
        border: 1px solid #061e37;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.801);
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    &__video-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        color: #061e37;
        & img {
            width: 60px;
            height: 60px;
            margin: 0 auto;
        }
    }
}

.easy {
    text-align: center;
    &__text {
        margin-bottom: 90px;
    }
    &__items {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
        justify-content: center;
        margin-bottom: 64px;
    }
    &__item {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 45px 1fr;
        justify-content: center;
        &-img {
            margin-bottom: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-title {
            margin-bottom: 14px;
            text-transform: capitalize;
        }
        &-text {
            color: #78909c
        }
    }
}

.progress {
    padding: 0;
    &__items {
        grid-template-columns: repeat(4, 1fr);
    }
    &__item {
        justify-content: center;
        align-items: center;
        padding: 42px 0;
        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 68px;
            height: 68px;
            background-color: #fff;
            border-radius: 50%;
            margin-right: 20px;
        }
        &-text {
            font-weight: 800;
            font-size: 20px;
            text-transform: capitalize;
            color: #fff;
            ;
            & span {
                display: block;
            }
        }
    }
    &__item:first-child {
        background-color: #80d8ff;
    }
    &__item:nth-child(2) {
        background-color: #82b1ff;
    }
    &__item:nth-child(3) {
        background-color: #b388ff;
    }
    &__item:last-child {
        background-color: #ea80fc;
    }
}

.services {
    text-align: center;
    &__text {
        margin-bottom: 40px;
    }
}

.accordion {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.accordion .ui-accordion-header {
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
}

.accordion .ui-accordion-header span {
    margin-left: 20px;
}

.accordion .ui-accordion-header-icon {
    content: '';
    position: absolute;
    top: 20px;
    right: 25px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('/img/down.png') 50% 50% no-repeat;
}

.accordion .ui-accordion-header-active .ui-accordion-header-icon {
    background-image: url('/img/up.png');
}

.accordion .accordion-item {
    border-radius: 7px;
    margin: 0 0 10px 0;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.21);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.21);
}

.accordion .accordion-wrapper {
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
}

.accordion .ui-accordion-header {
    padding: 20px 25px 20px;
    cursor: pointer;
    outline: none;
}

.accordion .ui-accordion-content {
    padding: 20px 25px;
}

.accordion .accordion-text {
    text-align: justify;
}

.customers {
    padding: 38px 0;
    background: #1ae7c0 url('../img/customer-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #72c1b2;
        opacity: .5;
        z-index: 2;
    }
    &__wrapper {
        grid-template-columns: minmax(300px, 520px) minmax(400px, 760px);
        column-gap: 10px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 3;
    }
    &__title {
        color: #fff;
        text-transform: initial;
        margin-bottom: 15px;
    }
    &__text {
        margin: 0 0 65px;
        color: #fff;
    }
    &__btn {
        background-color: #061e37;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #061e37;
        }
    }
    &__slide {
        grid-template-columns: 64px minmax(420px, 650px);
        column-gap: 46px;
    }
    &__slide-info {
        background-color: #fff;
        border-radius: 7px;
        padding: 27px 24px;
        -webkit-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.22);
        -moz-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.22);
        box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.22);
    }
    &__slide-img {
        align-self: center;
    }
    &__slide-name {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px;
    }
    &__slide-text {
        font-style: italic;
        color: #78909c;
    }
    & .slick-slide {
        margin: 30px 0;
        transition: .4s;
    }
    & .slick-list {
        margin-top: -30px;
        margin-bottom: -30px;
    }
    .slick-prev,
    .slick-next {
        -webkit-transform: translate(-50%, 0) rotate(90deg);
        -ms-transform: translate(-50%, 0) rotate(90deg);
        transform: translate(-50%, 0) rotate(90deg);
        left: 50%;
    }
    .slick-prev {
        top: -10px;
    }
    .slick-next {
        top: auto;
        bottom: -20px;
    }
    .slick-vertical .slick-arrow {
        width: 30px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
    }
    .slick-vertical .slick-arrow:hover {
        opacity: .6;
    }
    & .slick-vertical .slick-arrow.arrow-up {
        margin-bottom: 20px;
    }
    & .slick-vertical .slick-arrow.arrow-down {
        margin-top: 20px;
    }
}

.team {
    text-align: center;
    &__wrapper {
        max-width: 654px;
        width: 100%;
        margin: 0 auto;
    }
    &__text {
        margin-bottom: 64px;
    }
    &__slider-items {
        margin-bottom: 30px;
        .slick-slide>div {
            transform: scale(.7);
            transition: transform .5s cubic-bezier(.4, 0, .2, 1);
        }
        .slick-center>div {
            transform: scale(1);
            transition: transform .3s
        }
    }
    &__slider-img {
        width: 160px;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        opacity: 0.3;
        margin: 0 auto 10px;
        cursor: pointer;
        & img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }
    }
    &__slider-item.slick-slide.slick-current.slick-active &__slider-img {
        opacity: 1;
        border: solid 15px #fff;
        -webkit-box-shadow: 0px 3px 8px -1px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 3px 8px -1px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 3px 8px -1px rgba(34, 60, 80, 0.2);
    }
    &__slider-item.slick-slide.slick-current.slick-active &__slider-img img {
        width: 160px;
        height: 160px;
    }
    &__info {
        text-align: center;
        &-title {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 15px;
        }
        &-text {
            color: #90a4ae;
            margin-bottom: 28px;
        }
        &-links {
            margin: 0 auto;
            & i:hover {
                color: #061e37;
            }
        }
    }
}

.contact {
    background-color: #fafafa;
    &__title,
    &__text {
        text-align: center;
        color: #061e37;
        margin-bottom: 30px;
    }
    &__form {
        max-width: 600px;
        margin: 0 auto;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        column-gap: 34px;
        row-gap: 20px;
        grid-template-areas: "fname lname" "email phone" "message message" "checkbox submit";
    }
    .first-name {
        grid-area: fname;
    }
    .last-name {
        grid-area: lname;
    }
    .email {
        grid-area: email;
    }
    .message {
        grid-area: message;
        height: 140px;
    }
    .checkbox {
        grid-area: checkbox;
        font-weight: 600;
    }
    .phone {
        grid-area: phone;
    }
    .contact__form-btn {
        grid-area: submit;
        justify-self: end;
    }
}

.footer {
    padding: 90px 0;
    background-color: #061e37;
    &__items:first-child {
        margin-bottom: 40px;
    }
    &__item {
        color: #fff;
        text-transform: capitalize;
        font-weight: 600;
        & a {
            &:hover {
                color: #78909c;
            }
        }
    }
    &__item:not(:last-child) {
        margin-right: 35px;
    }
    &__policy {
        & li {
            text-transform: capitalize;
            color: #78909c;
            position: relative;
        }
        & li:not(:last-child) {
            margin-right: 30px;
        }
        & li:not(:last-child)::before {
            content: "";
            display: block;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: -15px;
            background-color: #fff;
        }
        & li a:hover {
            color: #fff;
        }
    }
    &__social-links {
        & i:hover {
            color: #fff;
        }
    }
}

@media (max-width: 1024px) {
    .offer {
        padding: 228px 0 160px;
        &__wrapper {
            column-gap: 20px;
        }
    }
    .customers {
        &__slide {
            column-gap: 26px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        padding: 0 10px;
    }
    .offer {
        padding: 180px 0 140px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: minmax(120px, 350px);
            row-gap: 20px;
            column-gap: initial;
        }
        &__content {
            text-align: center;
            &__btns {
                margin: 0 auto;
            }
        }
    }
    .progress {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .customers {
        &__wrapper {
            grid-template-columns: minmax(300px, 856px);
            row-gap: 20px;
        }
        &__content {
            text-align: center;
        }
        &__text {
            margin: 0 auto 45px;
        }
        &__slide {
            justify-content: center;
        }
    }
}

@media (max-width: 768px) {
    section {
        padding: 28px 0;
    }
    .section-title {
        font-size: 34px;
        line-height: 44px;
    }
    .fixed-menu {
        overflow: hidden;
    }
    .header {
        .navigation {
            grid-template-columns: 2fr 1fr;
            &__menu {
                flex-direction: column;
                justify-content: flex-start;
                position: absolute;
                top: 0;
                right: 0;
                transform: translateY(-100%);
                background-color: #fff;
                padding-top: 50px;
                width: 100%;
                height: 100vh;
                transition: .5s ease-in-out;
                z-index: 20;
            }
            &__menu.open-menu {
                transform: translateY(0);
            }
            &__items {
                flex-direction: column;
            }
            &__item:not(:last-child) {
                margin-right: 0;
                margin-bottom: 40px;
            }
            &__item,
            &__sing-up {
                color: #061e37;
                font-size: 20px;
                line-height: 20px;
            }
            &__item:hover {
                color: #1ae7c0;
            }
            &__sing-up {
                margin-top: 40px;
                border: 1px solid #061e37;
                padding: 10px 0;
                width: 80%;
                &:hover {
                    border-color: #1ae7c0;
                    color: #1ae7c0;
                }
            }
            /** burger */
            .menu-burger__header {
                width: 29px;
                height: 23px;
                position: relative;
                justify-self: flex-end;
                margin-left: 10px;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.5s ease-in-out;
                -moz-transition: 0.5s ease-in-out;
                -o-transition: 0.5s ease-in-out;
                transition: 0.5s ease-in-out;
                cursor: pointer;
                z-index: 21;
            }
            .menu-burger__header span {
                display: block;
                position: absolute;
                height: 4px;
                width: 100%;
                background: #061e37;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.25s ease-in-out;
                -moz-transition: 0.25s ease-in-out;
                -o-transition: 0.25s ease-in-out;
                transition: 0.25s ease-in-out;
            }
            .menu-burger__header span:nth-child(1) {
                top: 0;
            }
            .menu-burger__header span:nth-child(2),
            .menu-burger__header span:nth-child(3) {
                top: 10px;
            }
            .menu-burger__header span:nth-child(4) {
                top: 20px;
            }
            .menu-burger__header.open-menu span:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
            .menu-burger__header.open-menu span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            .menu-burger__header.open-menu span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            .menu-burger__header.open-menu span:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }
    .offer {
        padding: 140px 0 100px;
        &__wrapper {
            grid-template-rows: minmax(120px, 280px) minmax(320px, 420px);
        }
        &__title {
            font-size: 40px;
            line-height: 50px;
        }
        &__text,
        &__title {
            margin-bottom: 20px;
        }
        &__text {
            line-height: 24px;
            font-size: 16px;
        }
    }
    .easy {
        &__text {
            margin-bottom: 40px;
        }
        &__items {
            grid-template-columns: 1fr;
            column-gap: initial;
            row-gap: 15px;
            margin-bottom: 24px;
        }
        &__item {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 45px 1fr;
            justify-content: center;
            &-img {
                margin-bottom: 24px;
            }
        }
    }
    .progress {
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }
        &__item {
            padding: 25px 0;
        }
    }
    .accordion .accordion-wrapper {
        grid-template-columns: 1fr;
        column-gap: initial;
        row-gap: 20px;
    }
    .accordion .ui-accordion-header {
        padding: 15px;
    }
    .accordion .ui-accordion-content {
        padding: 15px;
    }
    .accordion .accordion-img img {
        margin: 0 auto;
    }
    .customers {
        &__slide-info {
            padding: 10px 15px;
        }
    }
}

@media(max-width: 612px) {
    .footer {
        padding: 60px 0;
        &__logo {
            margin-bottom: 15px;
        }
        &__items {
            flex-direction: column;
        }
        &__menu {
            margin-bottom: 15px;
        }
        &__items:first-child {
            margin-bottom: 0;
        }
        &__item {
            flex-direction: column;
            color: #fff;
            text-transform: capitalize;
            font-weight: 600;
            & a {
                &:hover {
                    color: #78909c;
                }
            }
        }
        &__item:not(:last-child) {
            margin-right: 10px;
        }
        &__policy {
            margin-bottom: 15px;
            & li:not(:last-child) {
                margin-right: 17px;
            }
            & li:not(:last-child)::before {
                right: -10px;
            }
        }
    }
}

@media (max-width: 542px) {
    .customers {
        &__text {
            margin-bottom: 40px;
        }
        &__slide {
            text-align: center;
            grid-template-columns: minmax(64px, 355px);
            column-gap: initial;
        }
        .slick-slide img {
            margin: 0 auto;
        }
        .slick-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        .slick-dots li:not(:last-child) {
            margin-right: 15px;
        }
        .slick-dots li button {
            width: 10px;
            height: 10px;
            background-color: ivory;
            border-radius: 50%;
            font-size: 0;
        }
        .slick-dots li.slick-active button {
            background-color: #061e37;
        }
    }
    .team {
        &__text {
            margin-bottom: 36px;
        }
        &__slider-items {
            margin-bottom: 15px;
        }
        &__info {
            &-text {
                margin-bottom: 18px;
            }
        }
    }
    .contact__form-input {
        padding: 10px;
    }
    .contact {
        &__title,
        &__text {
            margin-bottom: 15px;
        }
        &__form {
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 20px;
            grid-template-areas: "fname" "lname" "email" "phone" "message" "checkbox" "submit";
        }
        .message {
            height: 110px;
        }
        .contact__form-btn {
            width: 100%;
            justify-self: start;
        }
    }
}

@media (max-width: 425px) {
    .section-title {
        font-size: 28px;
        line-height: 36px;
    }
    .section-sub-title {
        font-size: 22px;
        line-height: 30px;
    }
    .btn,
    .btn-send {
        width: 100%;
    }
    .offer {
        padding: 140px 0 0;
        &__wrapper {
            grid-template-rows: minmax(120px, 280px) minmax(320px, 420px);
        }
        &__title {
            font-size: 34px;
            line-height: 40px;
        }
        &__text,
        &__title {
            margin-bottom: 15px;
        }
        &__btns {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__btn {
            margin-bottom: 15px;
        }
    }
    .progress {
        &__item {
            justify-content: flex-start;
            padding-left: 20px;
        }
    }
    .easy {
        &__text {
            margin-bottom: 20px;
        }
    }
}