@charset "UTF-8";
.body {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 25px;
}

.fixed {
  overflow: hidden;
}

section {
  padding: 90px 0;
}

a,
button,
i,
input,
.navigation {
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.container {
  max-width: 1470px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-size: 45px;
  line-height: 60px;
  font-weight: 600;
  text-transform: capitalize;
  color: #061e37;
}

.section-sub-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  color: #b0bec5;
  margin-bottom: 15px;
}

.section-text {
  color: #b0bec5;
  line-height: 25px;
  max-width: 580px;
  margin: 0 auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.btn,
.btn-send {
  display: inline-block;
  text-align: center;
  padding: 18px 0;
  width: 150px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 6px;
  color: #061e37;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.22);
  box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.22);
}

.btn:hover,
.btn-send:hover {
  background-color: #061e37;
  color: #fff;
}

.btn-send {
  background-color: #1ae7c0;
  color: #fff;
}

.btn:not(:last-child) {
  margin-right: 28px;
}

.social-links {
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 15px;
          column-gap: 15px;
  font-size: 20px;
  color: #90a4ae;
  width: 176px;
}

input, textarea {
  display: inline-block;
  border-radius: 7px;
  border: solid 1px #061e37;
  padding: 15px 18px;
  color: #061e37;
  font-weight: 600;
  font-size: 14px;
  resize: none;
}

input::-webkit-input-placeholder, textarea::placeholder {
  font-weight: 600;
  color: #061e37;
  font-size: 15px;
}

input:-ms-input-placeholder {
  font-weight: 600;
  color: #061e37;
  font-size: 15px;
}

input::-ms-input-placeholder {
  font-weight: 600;
  color: #061e37;
  font-size: 15px;
}

input::placeholder {
  font-weight: 600;
  color: #061e37;
  font-size: 15px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  border-color: #061e37;
  background-color: #061e37;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #1ae7c0;
}

.custom-checkbox:not(:disabled):active + label::before {
  background-color: #1ae7c0;
  border-color: #1ae7c0;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.sing-form {
  max-width: 600px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #1ae7c0;
  padding: 20px;
  display: none;
}

.sing-form h2,
.sing-form p {
  text-align: center;
  margin-bottom: 15px;
}

.sing-form .sing-form__input {
  width: 100%;
  margin-bottom: 20px;
}

.sing-form .sing-form__btn {
  border: none;
  padding: 15px 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  z-index: 15;
}

.header .navigation {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  padding: 50px 0 10px;
}

.header .navigation__item:not(:last-child) {
  margin-right: 46px;
}

.header .navigation__item, .header .navigation__sing-up {
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
}

.header .navigation__item:hover {
  color: #061e37;
}

.header .navigation__sing-up {
  display: inline-block;
  text-align: center;
  text-transform: lowercase;
  border: 1px solid #fff;
  padding: 4px 0;
  width: 80px;
}

.header .navigation__sing-up:hover {
  border-color: #061e37;
  color: #061e37;
}

.header.sticky {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.header.sticky .navigation {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header.sticky .navigation__item {
  color: #061e37;
}

.header.sticky .navigation__sing-up {
  color: #061e37;
  border-color: #061e37;
}

.header.sticky .navigation__logo {
  -webkit-filter: brightness(0.9) invert(0.9) sepia(0.5) hue-rotate(100deg) saturate(200%);
          filter: brightness(0.9) invert(0.9) sepia(0.5) hue-rotate(100deg) saturate(200%);
}

.offer {
  padding: 248px 0 180px;
  background: #1ae7c0 url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.offer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #72c1b2;
  opacity: .5;
  z-index: 2;
}

.offer__wrapper {
  position: relative;
  -ms-grid-columns: minmax(420px, 620px) minmax(465px, 600px);
      grid-template-columns: minmax(420px, 620px) minmax(465px, 600px);
  -webkit-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  z-index: 3;
}

.offer__title {
  font-weight: 800;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 60px;
}

.offer__text, .offer__title {
  margin-bottom: 25px;
}

.offer__text {
  line-height: 30px;
  font-size: 18px;
}

.offer__video {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid #061e37;
}

.offer__video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.801);
  display: block;
  height: 100%;
  width: 100%;
}

.offer__video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #061e37;
}

.offer__video-btn img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.easy {
  text-align: center;
}

.easy__text {
  margin-bottom: 90px;
}

.easy__items {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 64px;
}

.easy__item {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 45px 1fr;
      grid-template-rows: 1fr 45px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.easy__item-img {
  margin-bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.easy__item-title {
  margin-bottom: 14px;
  text-transform: capitalize;
}

.easy__item-text {
  color: #78909c;
}

.progress {
  padding: 0;
}

.progress__items {
      grid-template-columns: repeat(4, 1fr);
}

.progress__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 42px 0;
}

.progress__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 68px;
  height: 68px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 20px;
}

.progress__item-text {
  font-weight: 800;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
}

.progress__item-text span {
  display: block;
}

.progress__item:first-child {
  background-color: #80d8ff;
}

.progress__item:nth-child(2) {
  background-color: #82b1ff;
}

.progress__item:nth-child(3) {
  background-color: #b388ff;
}

.progress__item:last-child {
  background-color: #ea80fc;
}

.services {
  text-align: center;
}

.services__text {
  margin-bottom: 40px;
}

.accordion {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.accordion .ui-accordion-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 700;
}

.accordion .ui-accordion-header span {
  margin-left: 20px;
}

.accordion .ui-accordion-header-icon {
  content: '';
  position: absolute;
  top: 20px;
  right: 25px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("/img/down.png") 50% 50% no-repeat;
}

.accordion .ui-accordion-header-active .ui-accordion-header-icon {
  background-image: url("/img/up.png");
}

.accordion .accordion-item {
  border-radius: 7px;
  margin: 0 0 10px 0;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.21);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.21);
}

.accordion .accordion-wrapper {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.accordion .ui-accordion-header {
  padding: 20px 25px 20px;
  cursor: pointer;
  outline: none;
}

.accordion .ui-accordion-content {
  padding: 20px 25px;
}

.accordion .accordion-text {
  text-align: justify;
}

.customers {
  padding: 60px 0;
  background: #1ae7c0 url("../img/customer-bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

.customers::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #72c1b2;
  opacity: .5;
  z-index: 2;
}

.customers__wrapper {
  -ms-grid-columns: minmax(300px, 520px) minmax(400px, 760px);
      grid-template-columns: minmax(300px, 520px) minmax(400px, 760px);
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.customers__title {
  color: #fff;
  text-transform: initial;
  margin-bottom: 15px;
}

.customers__text {
  margin: 0 0 65px;
  color: #fff;
}

.customers__btn {
  background-color: #061e37;
  color: #fff;
}

.customers__btn:hover {
  background-color: #fff;
  color: #061e37;
}

.customers__slide {
  -ms-grid-columns: 64px minmax(420px, 650px);
      grid-template-columns: 64px minmax(420px, 650px);
  -webkit-column-gap: 46px;
          column-gap: 46px;
}

.customers__slide-info {
  background-color: #fff;
  border-radius: 7px;
  padding: 27px 24px;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.22);
  box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.22);
}

.customers__slide-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.customers__slide-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

.customers__slide-text {
  font-style: italic;
  color: #78909c;
}

.customers .slick-slide {
  margin: 30px 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.customers .slick-list {
  margin-top: -30px;
  margin-bottom: -30px;
}

.customers .slick-prev,
.customers .slick-next {
  -webkit-transform: translate(-50%, 0) rotate(90deg);
  transform: translate(-50%, 0) rotate(90deg);
  left: 50%;
}

.customers .slick-prev {
  top: -10px;
}

.customers .slick-next {
  top: auto;
  bottom: -20px;
}

.customers .slick-vertical .slick-arrow {
  width: 30px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all .3s linear;
  position: absolute;
  right: calc(50% - 74x);
  z-index: 5;
}

.customers .slick-vertical .slick-arrow:hover {
  opacity: .6;
}

.team {
  text-align: center;
}

.team__wrapper {
  max-width: 654px;
  width: 100%;
  margin: 0 auto;
}

.team__text {
  margin-bottom: 64px;
}

.team__slider-items {
  margin-bottom: 30px;
}

.team__slider-items .slick-slide > div {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.team__slider-items .slick-center > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.team__slider-img {
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0.3;
  margin: 0 auto 10px;
  cursor: pointer;
}

.team__slider-img img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.team__slider-item.slick-slide.slick-current.slick-active .team__slider-img {
  opacity: 1;
  border: solid 15px #fff;
  -webkit-box-shadow: 0px 3px 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 3px 8px -1px rgba(34, 60, 80, 0.2);
}

.team__slider-item.slick-slide.slick-current.slick-active .team__slider-img img {
  width: 160px;
  height: 160px;
}

.team__info {
  text-align: center;
}

.team__info-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

.team__info-text {
  color: #90a4ae;
  margin-bottom: 28px;
}

.team__info-links {
  margin: 0 auto;
}

.team__info-links i:hover {
  color: #061e37;
}

.contact {
  background-color: #fafafa;
}

.contact__title, .contact__text {
  text-align: center;
  color: #061e37;
  margin-bottom: 30px;
}

.contact__form {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 34px;
          column-gap: 34px;
  row-gap: 20px;
      grid-template-areas: "fname lname" "email phone" "message message" "checkbox submit";
}

.contact .first-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fname;
}

.contact .last-name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: lname;
}

.contact .email {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: email;
}

.contact .message {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  height: 140px;
}

.contact .checkbox {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: checkbox;
  font-weight: 600;
}

.contact .phone {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: phone;
}

.contact .contact__form-btn {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: submit;
  -ms-grid-column-align: end;
      justify-self: end;
}

.footer {
  padding: 90px 0;
  background-color: #061e37;
}

.footer__items:first-child {
  margin-bottom: 40px;
}

.footer__item {
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
}

.footer__item a:hover {
  color: #78909c;
}

.footer__item:not(:last-child) {
  margin-right: 35px;
}

.footer__policy li {
  text-transform: capitalize;
  color: #78909c;
  position: relative;
}

.footer__policy li:not(:last-child) {
  margin-right: 30px;
}

.footer__policy li:not(:last-child)::before {
  content: "";
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  background-color: #fff;
}

.footer__policy li a:hover {
  color: #fff;
}

.footer__social-links i:hover {
  color: #fff;
}

@media (max-width: 1024px) {
  .offer {
    padding: 228px 0 160px;
  }
  .offer__wrapper {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .customers__slide {
    -webkit-column-gap: 26px;
            column-gap: 26px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 10px;
  }
  .offer {
    padding: 180px 0 140px;
  }
  .offer__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: minmax(120px, 350px);
        grid-template-rows: minmax(120px, 350px);
    row-gap: 20px;
    -webkit-column-gap: initial;
            column-gap: initial;
  }
  .offer__content {
    text-align: center;
  }
  .offer__content__btns {
    margin: 0 auto;
  }
  .progress__items {
        grid-template-columns: repeat(2, 1fr);
  }
  .customers__wrapper {
    -ms-grid-columns: minmax(300px, 856px);
        grid-template-columns: minmax(300px, 856px);
    row-gap: 20px;
  }
  .customers__content {
    text-align: center;
  }
  .customers__text {
    margin: 0 auto 45px;
  }
  .customers__slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  section {
    padding: 28px 0;
  }
  .section-title {
    font-size: 34px;
    line-height: 44px;
  }
  .fixed-menu {
    overflow: hidden;
  }
  .header .navigation {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    /** burger */
  }
  .header .navigation__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #fff;
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 20;
  }
  .header .navigation__menu.open-menu {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header .navigation__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .navigation__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .header .navigation__item, .header .navigation__sing-up {
    color: #061e37;
    font-size: 20px;
    line-height: 20px;
  }
  .header .navigation__item:hover {
    color: #1ae7c0;
  }
  .header .navigation__sing-up {
    margin-top: 40px;
    border: 1px solid #061e37;
    padding: 10px 0;
    width: 80%;
  }
  .header .navigation__sing-up:hover {
    border-color: #1ae7c0;
    color: #1ae7c0;
  }
  .header .navigation .menu-burger__header {
    width: 29px;
    height: 23px;
    position: relative;
    justify-self: flex-end;
    margin-left: 10px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 21;
  }
  .header .navigation .menu-burger__header span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #061e37;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .header .navigation .menu-burger__header span:nth-child(1) {
    top: 0;
  }
  .header .navigation .menu-burger__header span:nth-child(2),
  .header .navigation .menu-burger__header span:nth-child(3) {
    top: 10px;
  }
  .header .navigation .menu-burger__header span:nth-child(4) {
    top: 20px;
  }
  .header .navigation .menu-burger__header.open-menu span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .header .navigation .menu-burger__header.open-menu span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header .navigation .menu-burger__header.open-menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header .navigation .menu-burger__header.open-menu span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .offer {
    padding: 140px 0 100px;
  }
  .offer__wrapper {
    -ms-grid-rows: minmax(120px, 280px) minmax(320px, 420px);
        grid-template-rows: minmax(120px, 280px) minmax(320px, 420px);
  }
  .offer__title {
    font-size: 40px;
    line-height: 50px;
  }
  .offer__text, .offer__title {
    margin-bottom: 20px;
  }
  .offer__text {
    line-height: 24px;
    font-size: 16px;
  }
  .easy__text {
    margin-bottom: 40px;
  }
  .easy__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: initial;
            column-gap: initial;
    row-gap: 15px;
    margin-bottom: 24px;
  }
  .easy__item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 45px 1fr;
        grid-template-rows: 1fr 45px 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .easy__item-img {
    margin-bottom: 24px;
  }
  .progress__items {
  
        grid-template-columns: repeat(1, 1fr);
  }
  .progress__item {
    padding: 25px 0;
  }
  .accordion .accordion-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: initial;
            column-gap: initial;
    row-gap: 20px;
  }
  .accordion .ui-accordion-header {
    padding: 15px;
  }
  .accordion .ui-accordion-content {
    padding: 15px;
  }
  .accordion .accordion-img img {
    margin: 0 auto;
  }
  .customers__slide-info {
    padding: 10px 15px;
  }
}

@media (max-width: 612px) {
  .footer {
    padding: 60px 0;
  }
  .footer__logo {
    margin-bottom: 15px;
  }
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu {
    margin-bottom: 15px;
  }
  .footer__items:first-child {
    margin-bottom: 0;
  }
  .footer__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
  }
  .footer__item a:hover {
    color: #78909c;
  }
  .footer__item:not(:last-child) {
    margin-right: 10px;
  }
  .footer__policy {
    margin-bottom: 15px;
  }
  .footer__policy li:not(:last-child) {
    margin-right: 17px;
  }
  .footer__policy li:not(:last-child)::before {
    right: -10px;
  }
}

@media (max-width: 542px) {
  .customers__text {
    margin-bottom: 40px;
  }
  .customers__slide {
    text-align: center;
    -ms-grid-columns: minmax(64px, 355px);
        grid-template-columns: minmax(64px, 355px);
    -webkit-column-gap: initial;
            column-gap: initial;
  }
  .customers .slick-slide img {
    margin: 0 auto;
  }
  .customers .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .customers .slick-dots li:not(:last-child) {
    margin-right: 15px;
  }
  .customers .slick-dots li button {
    width: 10px;
    height: 10px;
    background-color: ivory;
    border-radius: 50%;
    font-size: 0;
  }
  .customers .slick-dots li.slick-active button {
    background-color: #061e37;
  }
  .team__text {
    margin-bottom: 36px;
  }
  .team__slider-items {
    margin-bottom: 15px;
  }
  .team__info-text {
    margin-bottom: 18px;
  }
  .contact__form-input {
    padding: 10px;
  }
  .contact__title, .contact__text {
    margin-bottom: 15px;
  }
  .contact__form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 20px;
        grid-template-areas: "fname" "lname" "email" "phone" "message" "checkbox" "submit";
  }
  .contact .message {
    height: 110px;
  }
  .contact .contact__form-btn {
    width: 100%;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media (max-width: 425px) {
  .section-title {
    font-size: 28px;
    line-height: 36px;
  }
  .section-sub-title {
    font-size: 22px;
    line-height: 30px;
  }
  .btn,
  .btn-send {
    width: 100%;
  }
  .offer {
    padding: 140px 0 0;
  }
  .offer__wrapper {
    -ms-grid-rows: minmax(120px, 280px) minmax(320px, 420px);
        grid-template-rows: minmax(120px, 280px) minmax(320px, 420px);
  }
  .offer__title {
    font-size: 34px;
    line-height: 40px;
  }
  .offer__text, .offer__title {
    margin-bottom: 15px;
  }
  .offer__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer__btn {
    margin-bottom: 15px;
  }
  .progress__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 20px;
  }
  .easy__text {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */